@import 'tailwindcss';

:root {
    --secondary-gray: #747474;
    --primary-black: #2c2c2c;
    --divider-gray: #d9d9d9;
    --occupancy-red: #d00000;
    --white: #ffffff;
    --live-red: #ff0000;
    --main-blue: #0076b9;
    --occupancy-orange: #ff8800;
    --occupancy-green: #009133;
    --alert-red: #d00000;
    --fill-gray: #f6f6f6;
    --link-blue: #09a4fc;
    --parkmobile-green: #1fa846;
    --sjsu-yellow: #ffb81a;
}

body {
    background: var(--white);
    color: var(--primary-black);
    font-family: Arial, Helvetica, sans-serif;
}
