/* brand bar */
.brandBar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 16px 32px;
}

.brand {
    font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--primary-black);
    margin: 0;
}

/* tab section */
.tabSection {
    background: var(--white);
    display: flex;
    padding-bottom: 36px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabSectionRow {
    width: 90%;
    max-width: 900px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.tab {
    display: flex;
    flex: 1 1 0;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.tabText {
    color: var(--primary-black);
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    transition: all 0.15s ease-in-out;
}

.tabTextActive {
    color: var(--main-blue);
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
}

.tabUnderlineContainer {
    background: var(--divider-gray);
    width: 90%;
    max-width: 900px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 0 5px 5px 0;
    position: relative;
}

.tabUnderline {
    background: var(--main-blue);
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px 0 0 4px;
    width: calc(100% / var(--num-tabs));
    transform: translateX(calc(var(--active-index) * 100%));
    transition: transform 220ms cubic-bezier(0.2, 0.9, 0.2, 1), width 220ms ease;
}
