.GarageCard {
    border-radius: 30px;
    border: 2px solid #f6f6f6;
    background: #fff;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.GarageCardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.GarageCardHeaderTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.GarageCardHeaderTitleContainerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.GarageCardHeaderLiveIndicator {
    width: 6px;
    height: 6px;
    background: #f00;
    border-radius: 50px;
    --glow-blur: 4px;
    box-shadow: 0 0 var(--glow-blur) rgba(255, 0, 0, 0.9);
    will-change: box-shadow;
    transform: translateZ(0);
}

.GarageCardHeaderTitle {
    color: #2c2c2c;
    font-family: Geist;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.GarageCardHeaderOccupancyText {
    color: #d00000;
    font-family: Geist;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

.GarageCardHeaderOccupancyContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.GarageCardHeaderOccupancyLabelContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.GarageCardHeaderOccupancyLabelContainerIcon {
    width: 14px;
    height: 12.012px;
    aspect-ratio: 14/12.01;
}

.GarageCardHeaderOccupancyLabel {
    color: var(--Occupancy-Red, #d00000);
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    display: flex;
    flex-direction: row;
    gap: 3px;
}

.GarageCardHeaderOccupancyLabelDenominator {
    color: var(--Secondary-Gray, #747474);
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.GarageCardHeaderOccupancyLabelText {
    color: var(--Secondary-Gray, #747474);
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
