.GarageCard {
    background: #f6f6f6;
    width: 100%;
    max-width: 400px;

    border-radius: 30px;
    border: 2px solid #f6f6f6;
    background: #fff;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

/* header stuff */

.GarageCardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.GarageCardHeaderTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.GarageCardHeaderTitleContainerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.GarageCardHeaderLiveIndicator {
    width: 6px;
    height: 6px;
    background: #f00;
    border-radius: 50px;
    --glow-blur: 4px;
    box-shadow: 0 0 var(--glow-blur) rgba(255, 0, 0, 0.9);
    will-change: box-shadow;
    transform: translateZ(0);
}

.GarageCardHeaderTitle {
    color: #2c2c2c;
    font-family: Geist;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.GarageCardHeaderOccupancyText {
    color: #d00000;
    font-family: Geist;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

.GarageCardHeaderOccupancyContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.GarageCardHeaderOccupancyLabelContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.GarageCardHeaderOccupancyLabelContainerIcon {
    width: 14px;
    height: 12.012px;
    aspect-ratio: 14/12.01;
}

.GarageCardHeaderOccupancyLabel {
    color: var(--Occupancy-Red, #d00000);
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */

    display: flex;
    flex-direction: row;
    gap: 3px;
}

.GarageCardHeaderOccupancyLabelDenominator {
    color: var(--Secondary-Gray, #747474);
    font-family: Geist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.GarageCardHeaderOccupancyLabelText {
    color: var(--Secondary-Gray, #747474);
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.GarageCardOccupancyBarContainer {
    width: 100%;
    height: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Divider-Gray, #d9d9d9);
}

.GarageCardOccupancyBar {
    height: 100%;
    background: var(--Occupancy-Red, #d00000);
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.GarageCardUpdatedIndicatorContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.GarageCardUpdatedIndicator {
    color: var(--Divider-Gray, #d9d9d9);
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.GarageCardStatusLabelContainer {
    border-radius: 28px;
    background: rgba(208, 0, 0, 0.03);
    display: flex;
    padding: 4px 14px;
    align-items: center;
    gap: 4px;
}

.GarageCardStatusLabel {
    color: #747474;
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

/* divider */

.GarageCardDivider {
    background: #d9d9d9;
    height: 1px;
    align-self: stretch;
}

/* info section */

.GarageCardInfoSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.GarageCardInfoRow {
    border-radius: 30px;
    background: #f6f6f6;
    display: flex;
    padding: 4px 14px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.GarageCardInfoContainer {
    display: flex;
    align-items: center;
    gap: 6px;

    color: #747474;
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}

.GarageCardInfoDisclaimer {
    width: 276px;

    color: #747474;
    font-family: Geist;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* daily forecast section */
.GarageCardDailyForecastSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.GarageCardDailyForecastSectionHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    cursor: pointer;
    user-select: none;

    color: var(--Primary-Black, #2c2c2c);
    font-family: Geist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.GarageCardDailyForecastSectionHeaderLabelContainer {
    display: flex;
    align-items: center;
    gap: 6px;
}
